
.body {
	font-family: arial;
}

.btn {
	background-color: rgb(255,255,255);
}

.service-name {
	padding-top: 25px;
	font-weight: bold;
}

.testimonials {
	padding-top: 25px;
}

.portfolio-item-image {
	border: 3px solid black; 
}